# pyup: ignore file
# Adding this .in files allows to generate a full requirements-test.txt used by tox.
-r requirements.txt.in
aioresponses
coverage
flake8
pytest
pytest-cov
pytest-asyncio
mock
requests_mock
