# pyup: ignore file
#
# This file is intended to generate requirements.txt. requirements.txt contains the following
# packages + all their dependencies. This enables reproducible builds. Therefore, please update
# this file whenever a new dependency is used by mozapkpublisher (but not by one of its
# dependencies). Then, run `dephash --verbose gen requirements.txt.in > requirements.txt` (this
# may take a while depending on your Internet connection).
androguard
google-api-python-client
mozilla-version
oauth2client
pyOpenSSL   # Even not imported once in mozapkpublisher, it's needed to open p12 files
requests
voluptuous
